.content{
	margin-top:auto;
    margin-bottom:auto;
	margin-left: 20%;
	margin-right: 20%;
	text-align: justify;
	line-height: 1.6;
    
}
@media screen and (min-width: 600px){
	.content{
		margin-left: 10%;
		margin-right: 10%;
	}
}
@media screen and (max-width: 600px){
	.content{
		margin-left: 10px;
		margin-right: 10px;
	}
}