*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
 
}


.header {
  height: 60px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.header .logo {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
}

.header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}

.header .logo a img {
  max-width: 100%;
  max-height: 60px;
}
.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
}

.header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .navbar ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
  
  
}

.header .navbar ul li a:hover {
  color: #ffffff;
  background-color: rgba(23, 23, 23, 0.9);
}

.header .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}
.header .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

.header .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.header .navbar .icon-bar i {
  background-color: #050404;
  height: 2px;
}

@media only screen and (max-width: 650px) {
  .header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .header .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }
.header .navbar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgb(3, 2, 2, 0.81);
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
  }

  .header .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #ffffff;
  }

  .header .navbar ul .close {
    display: block;
	color:#fa0505ce;
  }
  .header .navbar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header .navbar ._Menus-show {
    left: 0;
  }
  .image-block{
	  /* opacity: 0.1; */
	  z-index:-1;
	  
  }
}

.body {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}


.image-block {
  position: relative;
  
  width: 100%;
  height: 500px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)),url("../images/jeshoots-com-__ZMnefoI3k-unsplash.jpg");
  background-size: cover;
  
}

 .image-block img {
  width: 100%;
  height: 80%;
}

.image-block .image-btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.image-block .image-btn:hover {
  background-color: black;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.centered h1{
	font-weight: 700;
	font-size: 60px;
	text-align: center;
}
.centered p{
	font-size: 20px;
}
.card_section{
	border: 1px solid #ddd;
	border-radius: 6px;
	max-width: 350px;
	text-align: center;
	margin-top: 60px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	
}
.card_img{
	width: 120px;
	height: 120px;
	overflow: hidden;
	border-radius: 100%;
	margin: -60px auto 0;
	
}
.card_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card_info{
	padding-bottom: 20px;
}
.quick-links .links ul li  a {
	text-decoration: none;
	cursor: pointer;
	color: black;
	line-height: normal;
	font-size:20px;
}
.quick-links .links ul li a:hover {
	color: #55ACEE;
}
.quick-links .links ul {
	list-style: none;
}
 .fa{

  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;

}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
footer {
  text-align: center;
  padding: 3px;
  background-color:black;
  color: white;
}
.blankspace{
	min-height: 30px;
}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Create two equal columns that floats next to each other */
.column-2 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}

/* Clear floats after the columns */
.row-2:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column-2 {
    width: 100%;
  }
}
.container-1{
	display: flex;
	align-items: center;
	justify-content: center;
}

.column-2 li:not(:last-child) { 
   margin-bottom: 30px;  
}
.column-2 li:first-child{
	margin-top: 35px;
}
.column li:first-child{
	margin-top: 35px;
}
.column li:not(:last-child){
	margin-bottom: 30px;
}
.services .column ul li a {
	text-decoration: none;
	cursor: pointer;
	color: black;
	line-height: normal;
	font-size:20px;
	
	
	
}
.services .column ul{
	list-style: none;
}
.services .column ul li a:hover{
	color: #55ACEE;
}
.services, .row-2{
	margin-left: 10%;
}
.services .more-services{
	text-decoration: none;
	color: black;
	border: 2px solid gray;
	border-radius: 5px;
	cursor:pointer;
	padding: 10px;
	margin-left: 40%;
	font-weight: 700;
}
.services .more-services:hover{
	border: 2px solid black;
}
.section-3{
	background-color: rgb( 250, 247, 247);
}

.column-3 {
  float: left;
  padding: 10px;
  
}

.left-side {
  width: 25%;
}

.right-side {
  width: 75%;
}


.row-3:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column-3 {
    width: 100%;
  }
  .image-block .image-btn{
	  top: 80%;
	  padding: 10px;
  }
  .centered h1{
	  font-size: 40px;
  }
  .centered p{
	  text-align: justify;
  }
  .column-2 li:not(:last-child) { 
   margin-bottom: 0;  
}
.column-2 li:first-child{
	margin-top: 10px;
}
.column li:first-child{
	margin-top: 10px;
}
.column li:not(:last-child){
	margin-bottom: 0;
}
.column{
	height: auto;
	
}
.services .more-services{
	margin-left: 25%;
	color: white;
	background-color:#555;
}
.get-in-touch{
	margin-left:0;
}
#id-123{
	min-height:0;
}
.column-2{
	height: auto;
}
}

.row-4 input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.row-4 select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.row-4 textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.row-4 label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.row-4 input[type=submit] {
  background-color: #555;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.row-4 input[type=submit]:hover {
  background-color: black;
}
.contact-form {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  margin-left: 30%;
  border: 1px solid gray;
}
.row-4 .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.row-4 .col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row-4:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .row-4 .col-25, .row-4 .col-75, .row-4 input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  
}

.get-in-touch{
	margin-top: 30%;
	margin-left: 20%;
}

.separator {
  display: flex;
  align-items: center;
}

.separator::before,
.separator::after {
  content: '';
  display: block;
  width: 100%;
  height: 10px;
  background: blue;
}

.separator-text {
  margin: 0 10px;
}


